{% extends 'base.html.twig' %}

{% block title %}Hello SeriesController!{% endblock %}

{% block body %}
    <div class="container">
        <h3>Genres:</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID:</th>
                <th scope="col">Title:</th>
            </tr>
            </thead>
            <tbody>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre.id }}</td>
                    <td>{{ genre.name }}</td>
                    <td><a href="series/{{ genre.id }}" class="btn btn-warning">Go</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
